<table
  style="
    background: #ffffff;
    margin: 0;
    min-width: 100%;
    padding: 0;
  "
>
  <tbody>
    <tr>
      <td >
        <div>
          <div style="color: #333333; font-size: 16px; margin-top: 12px;">
            Twoje jednorazowe hasło do KarmaSpace to:
          </div>
          <pre
            style="
              background-color: #f4f4f4;
              border-radius: 3px;
              border: 1px solid #eeeeee;
              font-family: monospace;
              margin-bottom: 16px;
              padding: 16px 24px;
            "
          >{{ passphrase }}</pre>
          <div style="color: #333333; font-size: 16px; margin-bottom: 12px">
            Hasło pozostanie ważne przez 15 minut.
          </div>
          <hr style="border: 1px solid #dddddd;"/>
          <div style="color: #aaaaaa; margin-top: 12px;">
            Jeśli nie pr&oacute;bowałeś się zalogować, możesz zignorować ten
            email lub poinformować nas o tym wydarzeniu.
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
