<h1
  style="
    margin: 0;
    padding: 0;
  "
>
  Logowanie do KarmaSpace
</h1>

<table
  style="
    background: #ffffff;
    margin: 0;
    min-width: 100%;
    padding: 0;
  "
>
  <tbody>
    <tr>
      <td>
        <div>
          {% if magic_link %}
            <div style="color: #333333; font-size: 16px; margin-top: 12px;">
              <a
                href="{{ magic_link }}"
                rel="noopener noreferrer"
                target="_blank"
              >
                Zaloguj się za pomocą magicznego linka.
              </a>
            </div>
          {% endif %}
          <div style="color: #333333; font-size: 16px; margin-top: 12px;">
            Alternatywnie, wykorzystaj swoje tymczasowe hasło:
          </div>
          <pre
            style="
              background-color: #f4f4f4;
              border-radius: 3px;
              border: 1px solid #eeeeee;
              font-family: monospace;
              margin-bottom: 16px;
              padding: 16px 24px;
            "
          >{{ passphrase }}</pre>
          <div style="color: #333333; font-size: 16px; margin-bottom: 12px">
            Tymczasowe hasło pozostanie ważne przez 15 minut.
          </div>
          <hr style="border: 1px solid #dddddd;"/>
          <div style="color: #aaaaaa; margin-top: 12px;">
            Jeśli nie pr&oacute;bowałeś się zalogować, możesz zignorować ten
            email lub poinformować nas o tym wydarzeniu pisząc na
            <a
              href="mailto:team@karmaspace.io"
              style="color: #aaaaaa;"
            >
              team@karmaspace.io</a>.
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
